APP_URL=https://chess.schmidbauer.jetzt
AUTH_SECRET=REPLACE_WITH_A_RANDOM_SECRET_32PLUS_CHARS
POSTGRES_PASSWORD=REPLACE_WITH_A_RANDOM_DB_PASSWORD
# Erzeugen mit: npm run hash:trainer -- "DEIN_TRAINER_CODE"
TRAINER_CODE_HASH=
